@import '../../../global-styles.scss';

.griditem {

  &__heading {
    grid-area: heading;
    font-weight: 900;
    text-align: left;
  }

  &__image {
    grid-area: img;
    width: 100%
  }
  
  &__description {
    grid-area: description;
    text-align: left;
    background-color: $color-grey-1;
    padding: 0.5em;
  }
  
  &__button {
    grid-area: footer-button;
  }

  &__footer {
    grid-area: footer-text;
    align-self: center;
  }

  &__pinkbutton {
    width: 100%;
    margin-bottom: 0;
  }

  .hr--dotted {
    grid-area: hr;
  }

  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  align-items: stretch;
  gap: 0.5em;
  grid-template-areas: 
    'heading heading'
    'img description'
    'img footer-button'
    'hr hr';
  padding: 0;
  margin: 0;

  @media only screen and (min-width: $screen-tablet)  {
    grid-template-rows: auto 1fr auto auto;
    grid-template-areas: 
      'heading heading'
      'img description'
      'footer-button footer-button'
      'hr hr';
    
    &__heading {
      height: 3.5em;
    }
  }

  @media only screen and (min-width: $screen-laptop) {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto 1fr auto auto;
    grid-template-areas: 
    'heading heading'
    'img img'
    'description description'
    'footer-text footer-button'
    'hr hr';

    &__image {
      height: 15em;
    }
  }
}
