@import '../../../../global-styles.scss';

.GridItem {

  .heading {
    grid-area: heading;
    text-align: left;
  }

  .prodImg {
    grid-area: prodImg;
    width: 100%
  }
  
  .prodDescription {
    grid-area: prodDescription;
    text-align: left;
    background-color: $color-grey-1;
    padding: 0.5em;
  }
  
  .prodPurchase {
    grid-area: prodPurchase;
  }

  .prodPrice {
    grid-area: prodPrice;
    display: none;
    align-self: center;
  }

  .dotted {
    grid-area: dotted;
  }

  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  align-items: stretch;
  gap: 0.5em;
  grid-template-areas: 
    "heading heading"
    "prodImg prodDescription"
    "prodImg prodPurchase"
    "dotted dotted";

  .PinkButton {
    width: 100%;
    margin-bottom: 0;
    
    &::after {
      content: 'Buy now @ Rs. ' attr(addontext);
    } 
  }

  @media only screen and (min-width: $screen-tablet)  {
    grid-template-rows: auto 1fr auto auto;
    grid-template-areas: 
      "heading heading"
      "prodImg prodDescription"
      "prodPurchase prodPurchase"
      "dotted dotted";
    
    .heading {
      height: 2.5em;
    }
  }

  @media only screen and (min-width: $screen-laptop) {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto 1fr auto auto;
    grid-template-areas: 
    "heading heading"
    "prodImg prodImg"
    "prodDescription prodDescription"
    "prodPrice prodPurchase"
    "dotted dotted";

    .heading {
      height: 3em;
    }

    .prodImg {
      height: 15em;
    }

    .prodPrice {
      display: block;
    }

    .PinkButton:after {
      content: 'Buy now';
    }
  }
}
