.GridItem {

  .isTablet, .isLaptop {
    display: none;
  }

  .isMobile {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 1em 1em 0 1em;
  }

  h3 {
    height: 2em;
    text-align: left;
  }
  
  img.prodImg {
    width: 50%;
    padding-right: 1em;
  }

  figure {
    margin: 0;
  }

  figcaption {
    text-align: justify;
    margin: 1em 0;
  }

  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .PinkButton {
    width: 100%;
  }

  @media only screen and (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
    .isMobile, .isLaptop {
      display: none;
    }

    .isTablet {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      padding: 1em 1em 0 1em;
    }
  }

  @media only screen and (min-width:1025px) { /* big landscape tablets, laptops, and desktops */
    .isMobile, .isTablet {
      display: none;
    }

    .isLaptop {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      padding: 1em 0 0 1em;
    }

    img.prodImg {
      width: 100%;
    }

    .row {
      justify-content: space-between;
      align-items: baseline;
    }

    .PinkButton {
      width: auto;
    }
  }
}
