.showcase {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  flex-direction: row;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__heading {
    font-weight: 700;
    font-size: large;
  }
  
  &__description {
    margin: 1.5em 0 2.5em 0;
    font-size: smaller;
    font-weight: 600;
  }
}