@import '../../global-styles.scss';

.dropdown {
  width: 100%;
  
  &__content--empty {
      padding: 1em;
  }

  &__text {
    margin: 0;

    &--selected {
      font-weight: 600;
      color: $color-pink-2;
    }
  }
  
  &__pinkbutton {
    width: 100%;
  }
}