@import '../../global-styles.scss';

.dropdown {
  width: 100%;
  
  .pinkbutton {
    width: 100%;
  }
}

.dropdown-menu {
  .dropdown-menu-item {
    .dropdown-menuitem-text {
      margin: 0;

      &.dropdown-menuitem-text-selected {
        font-weight: 600;
        color: $color-pink-2;
      }
    }
  }

  .dropdown-menu-empty {
    padding: 1em;
  }
}