@import '../global-styles.scss';

.Plp {
  display: flex;
  flex-direction: column;
  width: 100%;

  .leftpane {
    display: none;
    width: 20%;
  }

  .dropdown {
    display: block;
    width: 100%;
  }

  .grid {
    width: 100%;
  }

  @media only screen and (min-width: $screen-tablet)  {
    flex-direction: row;
    
    .leftpane {
      display: block;
    }
  
    .dropdown {
      display: none;
    }

    .grid {
      width: 80%;
    }
  }
}
