hr.blue {
    width: 100%;
    border: .1em solid #daf6ffc9;
    margin: 0;
}

hr.greySolid {
    width: 98%;
    border: .1em solid #e2dede;
    margin: 0;
}

hr.grey {
    border: 0;
    height: 0.2em; 
    background: radial-gradient(at 50% 0, #b3b3b3, transparent 55%); 
    background-size: 100% 1em; 
    background-repeat: no-repeat;
}

hr.dotted {
    width: 100%;
    border: 0;
    border-bottom: .1em dotted #daf6ffc9;
}