hr.blue {
    width: 100%;
    border: .1em solid #daf6ffc9;
    margin-bottom: 0;
}

hr.greySolid {
    width: 98%;
    border: .1em solid #e2dede;
    margin: 0;
}

hr.grey {
    border: 0;
    margin: 1.35em auto;
    max-width: 100%;
    background-position: 50%;
    box-sizing: border-box;
    height: .4em;
    $color: lightgrey;
    color: $color;
    background-image: linear-gradient(
    90deg,
    rgba($color, 0),
    rgba($color, 1) 50%,
    rgba($color, 0) 100%);
}

hr.dotted {
    width: 100%;
    border: 0;
    border-bottom: .1em dotted #daf6ffc9;
}