hr.blue {
    width: 100%;
    border: .25vh solid lightskyblue;
    margin-bottom: 0;
}

hr.greySolid {
    width: 100%;
    border: .1vh solid lightgrey;
}

hr.grey {
    border: 0;
    margin: 1.35em auto;
    max-width: 100%;
    background-position: 50%;
    box-sizing: border-box;
    height: .75vh;
    $color: lightgrey;
    color: $color;
    background-image: linear-gradient(
    90deg,
    rgba($color, 0),
    rgba($color, 1) 50%,
    rgba($color, 0) 100%);
  }