@import '../../../global-styles.scss';

.pinkbutton {
    background-color: $color-pink-2 ;
    color: $color-white-1;
    border: none;
    padding: 0.75em;
    margin-bottom: 1.5em;
    display: flex;

    &__text {
        align-self: center;
    }

    &__icon {
        height: 2em;
        vertical-align: middle;
        width: auto;
        font-size: 1em;
    }

    &:disabled {
        color: $color-black-3;
        background-color: $color-pink-1;
    }
    
    &:hover {
        cursor: pointer;
    }
    
    &--justify-space-between {
        justify-content: space-between;
    }

    &--justify-center {
        justify-content: center;
    }
}