@import '../global-styles.scss';

.Header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;

  .vertAlign {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    align-items: flex-end;
    nav {
      padding: 0;
      font-size: small;
      margin-bottom: 0.5em;
    }
  }

  .cartButton {
    min-width: auto;
  }

  nav {
    width: auto;
    padding: 0 4%;

    a {
      color: $color-black-2;
      font-weight: 600;
    }

    a:active, .activeRoute {
      border-bottom: 0.2em solid $color-black-2;
      cursor: pointer;
    }
  }

  .menuIcon {
    color: $color-pink-2;
  }

  div a:not(:last-of-type),nav a:not(:last-of-type) {
    margin-right: 1em;
  }

  .logo {
    content:url('/images/logo.png');
    height: auto;
    width: 20%;
    padding: 0.5em;
  }

  .isMobile {
    display: block;
  }

  .isNotMobile {
    display: none;
  }

  @media only screen and (min-width: $screen-tablet)  {
    .isMobile {
      display: none;
    }
  
    .isNotMobile {
      display: block;
    }

    .logo {
      width: auto;
      height: 4em;
      padding: 0;
    }

    .cartButton {
      min-width: 10em;
    }

    nav {
      padding: 0 7%;
    }
  }
}
