@import '../global-styles.scss';

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;

  nav {
    width: auto;
    padding: 0 4%;

    a {
      color: $color-black-2;
      font-weight: 600;

      &:not(:last-of-type) {
        margin-right: 1em;
      }

      &.header-link-active {
        border-bottom: 0.2em solid $color-black-2;
        cursor: pointer;
      }
    }
  }
  
  .header-rightpane {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    align-items: flex-end;

    .header-links {
      padding: 0;
      font-size: small;
      margin-bottom: 0.5em;
    }

    .cartbutton {
      min-width: auto;
    }
  }

  .header-logo {
    content:url('/images/logo.png');
    height: auto;
    width: 20%;
    padding: 0.5em;
  }

  .header-menu {
    display: block;
  }

  .header-links {
    display: none;
  }

  @media only screen and (min-width: $screen-tablet)  {
    nav {
      padding: 0 7%;
    }
    
    .header-menu {
      display: none;
    }
  
    .header-links {
      display: block;
    }

    .header-logo {
      width: auto;
      height: 4em;
      padding: 0;
    }

    .cartbutton {
      min-width: 10em;
    }
  }
}

.navmenu-item-selected {
  background-color: $color-black-transparent-1!important;
  font-weight: 600!important;
  color: $color-pink-2!important;
}

.drawer-paper {
  position: absolute;
  width: 100%;
  right: 0;
}

.drawer-modal {
  position: absolute!important;
}

@media only screen and (min-width: $screen-tablet)  {
  .drawer-paper {
    width: 50%;
  }
}