@import '../../global-styles.scss';

.cart {
  font-weight: 600;
  background-color: $color-grey-1;
  padding-top: 1.5em;
  
  &__header {
    background-color: $color-white-1;
    color: $color-black-1;
    padding: 1em;
    text-align: left;
    display: flex;
    justify-content: space-between;
  }

  &__text {
    &--font-large {
      font-size: large;
      font-weight: 700;
    }
    
    &--font-small {
      font-size: smaller;
    }

    &--padding {
      padding: 0.5em;
    }
  }

  &__content {
    max-height: 19.5em;
    overflow-y: auto;

    &--empty {
      text-align: center;
      background-color: $color-white-1;
      padding: 0.5em;
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  }
  
  &__iconbutton {
    padding: 0;
    color: $color-white-1;
  }
  
  &__pinkbutton {
    width: 100%;
    border-radius: 4px;
    padding: 1em!important;
    margin-bottom: 0.5em!important;
  }

  &__img-lowestprice {
    text-align: left;
    background-color: $color-white-1;
    margin: 0.5em;
    padding: 1em;
    display: flex;
    align-items: center;

    & > * {
      padding-left: 1.5em;
    }

    & > img {
      height: 2.5em;
    }
  }

  &__footer {
    background-color: $color-white-1;
    padding: 0.5em 1em;
    width: -webkit-fill-available;
    bottom: 0;
    position: absolute;

    &--border {
      border-top: 2px solid $color-grey-2;
    }
  }

  @media only screen and (min-width: $screen-laptop) {
    padding-top: 0;

    &__header {
      background-color: $color-black-1;
      color: $color-white-1;
    }

    &__content {
      max-height: 22.5em;
    }
  }
}