@import '../../global-styles.scss';

.footer {
    background-color: $color-grey-1;
    width: 100%;
    padding: 1em 0;
    font-size: small;
    font-weight: 600;
    
    @media only screen and (min-width: $screen-laptop) {
        text-align: left;
        padding: 1em 7em;
    }
}