.LeftPane {
  background-color: #daf6ffc9;

  p {
    color: #8e8b8b;
    font-weight: 600;
    text-align: left;
    padding: 1em;
    margin: 0;
  }

  p.selectedText {
    color: deeppink;
    border-right: 0.2em solid deeppink;
  }
  
  .noCategoriesFound {
    margin: 1em;
  }

  .selectedItem {
    background-color: #90e1fbc9;
    outline-width: 0;
  }
}