@import '../../../global-styles.scss';

.LeftPane {
  background-color: $color-grey-1;

  p {
    color: $color-grey-6;
    font-weight: 600;
    text-align: left;
    padding: 1em;
    margin: 0;
  }

  p.selectedText {
    color: $color-pink-2;
    border-right: 0.2em solid $color-pink-2;
  }
  
  .noCategoriesFound {
    margin: 1em;
  }

  .selectedItem {
    background-color: $color-grey-4;
    outline-width: 0;
  }
}