@import '../../../global-styles.scss';

.Carousel {
  margin-top: 1em;
  .carouselImg {
    width: 100%;
  }

  .CarouselArrow {
    visibility: hidden;
    border-radius: 0;
  }

  @media only screen and (min-width: $screen-tablet)  {
    .CarouselArrow, .CarouselArrow:hover {
        visibility: visible;
        color: $color-white-1;
        background-color: $color-black-transparent;
        margin-top: -25%;
    }
  }
}
