@import '../../../global-styles.scss';

.carousel {
  margin-top: 1em;

  .carousel-slide-image {
    width: 100%;
  }

  .carousel-button {
    visibility: hidden;
    border-radius: 0;
  }

  @media only screen and (min-width: $screen-tablet)  {
    .carousel-button, .carousel-button:hover {
        visibility: visible;
        color: $color-white-1;
        background-color: $color-black-transparent;
        margin-top: -25%;
    }
  }
}
