@import '../../../../global-styles.scss';

.greybutton {
    color: $color-white-1;
    background-color: $color-black-transparent;
    padding: 6px 8px;
    border: 0;
    outline: 0;

    &:hover {
        cursor: pointer;
    }
}