@import '../../global-styles.scss';

.carousel {
  margin-top: 1em;
  position: relative;

  &__buttons {
    margin-top: -14%;
    padding-bottom: 8%;
    position: sticky;

    @media only screen and (min-width: $screen-tablet)  {
      display: flex;
      justify-content: space-between;
    }

    @media only screen and (min-width: $screen-laptop)  {
      padding-bottom: 10%;
    }
  }
}
