button.cartButton {
    padding: 0.75em;
    background-color: #e5f9ffc9;
    border: none;
    color: black;
    
    .cart {
        height: 2em;
        vertical-align: middle;
        filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(-60deg) brightness(104%) contrast(125%);
    }
}