@import '../../global-styles.scss';

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;

  &__logo {
    height: auto;
    width: 20%;
    padding: 0.5em;
  }
  
  &__menuitem--selected {
    background-color: $color-black-transparent-1!important;
    font-weight: 600!important;
    color: $color-pink-2!important;
  }
  
  &__nav {
    width: auto;
    padding: 0 4%;

    &--right {
      padding: 0;
      font-size: small;
      margin-bottom: 0.5em;
    }

    a {
      color: $color-black-2;
      font-weight: 600;

      &:not(:last-of-type) {
        margin-right: 1em;
      }
    }
  }
  
  &__link--active {
    border-bottom: 0.2em solid $color-black-2;
    cursor: pointer;
  }
  
  &__rightpane {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    align-items: flex-end;
  }

  @media only screen and (min-width: $screen-tablet)  {
    &__nav {
      padding: 0 7%;
    }

    &__logo {
      width: auto;
      height: 4em;
      padding: 0;
    }
  }
}

.drawer {
  &__modal {
    position: absolute!important;
  }

  &__paper {
    position: absolute;
    width: 100%;
    right: 0;
    height: -webkit-fill-available;
    max-height: 32em;
    outline: 0;

    @media only screen and (min-width: $screen-laptop)  {
      width: 50%;
    }
  } 
}