@import '../../../global-styles.scss';

.dots {
    background: none;
    border: 0;
    position: sticky;
    margin-top: 2em;
    
    &:hover {
        cursor: pointer;
    }

    .dots-icon {
        font-size: 0.6em;
        color: $color-grey-4;

        &.dots-icon-active {
            color: $color-black-1;
        }
    }

    @media only screen and (min-width: $screen-tablet)  {
        margin-top: 0;
    }
}