@import '../../../global-styles.scss';

.dots {
    background: none;
    border: 0;
    
    &:hover {
        cursor: pointer;
    }

    .dots-icon {
        font-size: 0.6em;
        color: $color-grey-4;

        &.dots-icon-active {
            color: $color-black-1;
        }
    }
}