@import '../../../global-styles.scss';

.Grid{
  display: grid;
  grid-template-columns: auto;
  gap: 0.5em;
  margin: 0 0.5em;

  .noProductsFound {
    grid-column: 1;
    align-self: center;
  }

  @media only screen and (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
    grid-template-columns: auto auto;
    .noProductsFound {
      grid-column: 1 / span 2;
    }
  }

  @media only screen and (min-width: $screen-laptop) {
    grid-template-columns: repeat(4, auto);
    .noProductsFound {
      grid-column: 1 / span 4;
    }
  }
}