.Grid{
  display: grid;
  grid-template-columns: auto;

  .noProductsFound {
    grid-column: 1;
    align-self: center;
  }

  @media only screen and (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
    grid-template-columns: auto auto;
    .noProductsFound {
      grid-column: 1 / span 2;
    }
  }

  @media only screen and (min-width:1025px) { /* big landscape tablets, laptops, and desktops */
    grid-template-columns: auto auto auto auto;
    .noProductsFound {
      grid-column: 1 / span 4;
    }
  }
}