.Category {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .catImg {
    width: 40%;
  }
}

.leftDir {
  flex-direction: row;
}

.rightDir {
  flex-direction: row-reverse;
}