@import '../../../global-styles.scss';

.cartitem {
  display: flex;
  flex-direction: row;
  background-color: $color-white-1;
  margin: 1em 0 0 0;
  padding: 0.5em 1em;

  &__image {
    height: 4em;
    margin-right: 0.2em;
  }

  &__content {
    width: -webkit-fill-available;
    text-align: left;
  }

  &__heading {
    font-weight: 700;
    padding: 0.5em 0;
  }

  &__totalprice {
    font-size: larger;
    align-self: flex-end;
  }

  &__quantity, &__quantity > * {
    margin-right: 1em;
  }

  &__pinkbutton {
    border-radius: 0.4em;
    padding: 0.3em 0.8em;
    display: inline-block;
  
    @media only screen and (min-width: $screen-laptop) {
      border-radius: 1em;
      padding: 0.3em 0.5em;
    }
  }
}
