@import '../../../global-styles.scss';

.cartbutton {
    padding: 0.75em;
    background-color: $color-grey-1;
    border: none;
    color: $color-black-1;
    min-width: auto;
    
    &__icon {
        height: 2em;
        vertical-align: middle;
        filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(320deg) brightness(104%) contrast(70%);
    }
    
    &:hover {
        cursor: pointer;
    }

    @media only screen and (min-width: $screen-tablet)  {
      min-width: 10em;
    }
}