@import '../../global-styles.scss';

.register {
  width: auto;
  text-align: left;
  margin: 0 10%;

  @media only screen and (min-width: $screen-laptop) {
    width: 70%;
    margin-left: 10%;
  }
}