@import 'global-styles.scss';

.App {
  text-align: center;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  a {
    text-decoration: none;
    color: $color-black-1;
  }

  .drawer-container {
    position: relative;
    width: 100%;
  }

  @media only screen and (min-width:$screen-laptop) {
    padding: 0 5em;
  }
}

