.Nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 5em;
  width: 100%;

  .logo {
    height: 6em;
    align-self: left;
  }

  .vertAlign {
    display: flex;
    flex-direction: column;
  }

  nav a{
    color: #737171;
    font-weight: 600;
  }

  div a:not(:last-of-type),nav a:not(:last-of-type) {
    margin-right: 2em;
  }
}
