.Nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  // justify-content: space-between;
  height: 5em;
  width: 100%;

  .vertAlign {
    display: flex;
    flex-direction: column;
    width: 13%;
    margin-left: auto;
  }

  nav {
    width: auto;
    padding: 0 5%;

    a {
      color: #737171;
      font-weight: 600;
    }
  }

  div a:not(:last-of-type),nav a:not(:last-of-type) {
    margin-right: 2em;
  }

  .logo {
    content:url('/images/logo.png');
    width: 18%;
  }
}
