@import '../global-styles.scss';

footer {
    background-color: $color-grey-1;
    width: 100%;
    padding: 1em;
    font-size: small;
    font-weight: 600;
    
    @media only screen and (min-width: $screen-laptop) {
        text-align: left;
    }
}